html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1, h2, h3, h4, h5, p {
    margin: 0;
}

button {
    width: 150px;
    background: black;
    color: white;
    outline: none;
    border: none;
    padding: 1em;
    font-weight: bold;
}

.heading {
    margin-bottom: 1em;
}

.subheading {
    margin-bottom: 1em;
}

.paragraph {
    margin-bottom: 2em;
}

.main {
    margin: auto;
    max-width: 1440px;
    padding: 0 8px;
}

.header-nav {
    background: black;
    width: 100vw;
    height: 65px;
}

.header-nav .container {
    margin: auto;
    padding: 0 8px;
    max-width: 1440px;
    height: 100%;
}

.header-nav .icon-menu {
    display: none;
}

.menu-item {
    color: white;
    margin-left: 8px;
    text-decoration: none;
}

.menu-item:hover,
.menu-item:focus,
.menu-item:active {
    text-decoration: underline;
}

.search-input-wrapper {
    display: flex;
    align-items: center;
    width: 25%;
    border-radius: 2em;
    padding: 8px;
    background: white;
}

.search-input {
    outline: none;
    border: none;
    padding-left: 8px;
    width: 100%;
}

.banner-gallery {
    width: 100%;
    height: auto;
    margin-bottom: 3em;
    margin-top: 3em;
}

.banner-gallery div {
    margin-bottom: 1em;
}

.product-list {
    width: 100%;
    margin-bottom: 40px;
}

.product-card {
    width: 250px;
    box-shadow: 0px 4px 24px 0px rgba(123, 123, 123, 0.15);
    margin-bottom: 2em;
}

.product-card-detail {
    padding: 1em;
}

.product-card-detail h3 {
    margin-bottom: 0.5em;
}

.paragraph-box {
    padding: 4em;
}

.text-combo {
    margin-bottom: 3em;
    width: 75%;
}

.promotion-banner {
    width: 100%;
    margin-bottom: 3em;
    display: flex;
}

.promotion-banner-left {
    margin-right: 8px;
}
.promotion-banner-right {
    margin-left: 8px;
}

#flex-1 {
    text-align: center;
}

#flex-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#flex-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#flex-4 {
    display: flex;
    align-items: center;
}

#flex-5 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

#flex-6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#flex-7 {
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-bottom: 3em;
    text-align: left;
}

#flex-8 {
    display: flex;
    flex-direction: column;
    width: 450px;
}

#flex-9 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#flex-10 {
}

@media screen and (max-width: 1200px) {
    .text-combo {
        width: 90%;
    }

    .banner-gallery .img-medium {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .paragraph-box {
        text-align: center;
        padding: 3em 1em;
    }

    #flex-5 {
        display: flex;
        justify-content: center;
    }

    #flex-7 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    
    #flex-8 {
        width: auto;
        align-items: center;
    }
}


@media screen and (max-width: 768px) {

    .header-nav nav {
        display: none;
    }

    .header-nav .icon-menu {
        display: block;
    }

    .search-input-wrapper {
        width: 40%;
    }
}

@media screen and (max-width: 480px) {
    .text-combo .img-large {
        max-width: 100%;
    }

    .banner-gallery .img-medium {
        display: block;
    }
}